@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.app {
	text-align: center;
}

* {
	font-family: 'Goldman', cursive;
}

.noResultsText {
	color: white;
}

html, body {
	background-color: black;
	font-family: 'Goldman', cursive;
}
