.navbarButtons {
	color: white;
	text-decoration: double;
	font-size: 25px;
	padding: 10px;
}

.navbar {
	background-color: black;
	width: 100%;
	padding: 20px;
	border-bottom: 5px solid rgb(169, 169, 255);
}

.searchbar {
	width: 50%;
	height: 45px;
	border: 5px solid rgb(169, 169, 255);
	border-radius: 5px;
	margin-top: 5px;
	font-size: large;
	text-transform: capitalize;
	background-color: rgb(227, 227, 248);
	font-weight: bold;
}
