.navbarButton {
	color: rgb(142, 142, 248);;
	text-decoration: double;
	font-size: 25px;
	display: inline-flex;
	margin-left: 20px;
	border: 3px solid rgb(142, 142, 248);
	padding: 8px;
	border-radius: 5px;
	font-weight: bold;
}

.navbarButton:hover {
	background-color: rgb(142, 142, 248);
	color: black;
}

.navbar {
	background-color: black;
	width: 100%;
	padding: 20px;
	border-bottom: 5px solid rgb(169, 169, 255);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
  
  .searchContainer {
	margin-right: auto;
  }
  
  .buttonsContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
  }

  @media (max-width: 768px) {
	.navbarButton {
		margin: 0;
		padding: 10px;
		font-size: 15px;
	} 
}
  

