.navbarHome {
	color: white;
	text-decoration: double;
	font-size: 20px;
	display: inline-flex;
	margin-right: 20px;
}

.navbarWatchlist {
	color: white;
	text-decoration: double;
	font-size: 20px;
	display: inline-flex;
	margin-left: 20px;
}

.navbar {
	background-color: black;
	width: 100%;
	padding: 20px;
	border-bottom: 5px solid rgb(169, 169, 255);
}


