.movieCards {
    max-width: 2000px;
    max-height: 2500px;
    min-width: 1440;
    margin: 0 auto;
    display: grid;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	  background-color: black;
  	grid-template-rows: 1fr 1fr;
}

.card {
    border-top: 10px solid black;
	  background-color: rgb(169, 169, 255);
    overflow: hidden;
    cursor: pointer;
    transition: all ease 200ms;
  }

  .card:hover {
    transform: scale(1.01);
    border: 5px solid rgb(142, 142, 248);
  } 

  @media (min-width: 400px) {
    .movieCards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 800px) {
    .movieCards { grid-template-columns: repeat(3, 1fr);}
  }

  @media (min-width: 1000px) {
    .movieCards { grid-template-columns: repeat(4, 1fr);}
  }

  @media (min-width: 1300px) {
    .movieCards { grid-template-columns: repeat(5, 1fr); }
  }

  .titleContainer {
    border-bottom: 8px solid rgb(150, 150, 252);
    margin-bottom: 20px;
    padding-top: 5px;
    background-color: rgb(142, 142, 248);
  } 
  
  .poster {
    width: 70%;
    height: 75%;
    border-radius: 10px;
  }
  
  .singleMovieButton {
    background-color: black;
    color: white;
    width: 35%;
    height: 10%;
    border-radius: 8px;
    margin-top: 10px;
  }

  .singleMovieButton:hover {
    transform: scale(1.05);
  }
  
  .singleMovieButton a {
    color: white;
    text-decoration: double;
    font-size: small;
    font-weight: bold;
  }
  
  .watchlistButton {
    background-color: black;
    color: rgb(1, 184, 1);
    width: 35%;
    height: 10%;
    border-radius: 8px;
    font-size: small;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 200ms;
    }

    .watchlistButton:hover {
      transform: scale(1.05);
    }
    
