.gridContainer {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.movieCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 300px;
  }

  .movieCards:hover {
    transform: scale(1.01);
  } 

  @media (min-width: 400px) {
    .gridContainer { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 800px) {
    .gridContainer { grid-template-columns: repeat(3, 1fr);}
  }

  @media (min-width: 1000px) {
    .gridContainer { grid-template-columns: repeat(4, 1fr);}
  }

  @media (min-width: 1300px) {
    .gridContainer { grid-template-columns: repeat(5, 1fr); }
  }
  
  .poster {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    opacity: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    transition: opacity 0.3s ease-in-out;
  }
  
  .overlay:hover {
      opacity: 80%;
  }
  
  .singleMovieButton {
    background-color: black;
    color: white;
    width: 35%;
    height: 10%;
    border-radius: 8px;
    margin-top: 10px;
  }

  .singleMovieButton:hover {
    transform: scale(1.05);
  }
  
  .singleMovieButton a {
    color: white;
    text-decoration: double;
    font-size: small;
    font-weight: bold;
  }
  
  .watchlistButton {
    background-color: black;
    color: rgb(1, 184, 1);
    width: 35%;
    height: 10%;
    border-radius: 8px;
    font-size: small;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 200ms;
    }

    .watchlistButton:hover {
      transform: scale(1.05);
    } 
    
