@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.searchbarContainer {
	width: 100%;
}

.searchbar {
	width: 100;
	padding: 5px;
	border-radius: 5px;
	margin-top: 5px;
	font-size: 20px;
	text-transform: capitalize;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	display: flex;
	font-family: 'Goldman', cursive;
}

@media (max-width: 768px) {
	.searchbarContainer {
	  width: 100%;
	}
  
	.searchbar {
	  width: 100%;
	  padding: 5px;
	  border-radius: 5px;
	  margin-top: 5px;
	  font-size: 16px;
	  text-transform: capitalize;
	  background-color: rgb(255, 255, 255);
	  font-weight: bold;
	  display: flex;
	}
  }
