.searchbarContainer {
	width: 100%;
}

.searchbar {
	width: 50%;
	height: 45px;
	border: 5px solid rgb(169, 169, 255);
	border-radius: 5px;
	margin-top: 5px;
	font-size: large;
	text-transform: capitalize;
	background-color: rgb(227, 227, 248);
	font-weight: bold;
}

.searchButton {
	margin-left: 10px;
	width: 15%;
	height: 40px;
	border: 5px solid rgb(169, 169, 255);
	border-radius: 5px;
	background-color: rgb(227, 227, 248);
	font-size: larger;
	font-weight: bold;
}
