.singleMovieContainer {
	background-color: black;
}

.title {
	color: white;
}

.movieInfo {
	color: white;
}

.poster {
}

.watchlistButton {
	background-color: black;
	color: white;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
