.container { 
	display: grid;
	align-items: center;
	margin-left: 20px;
	max-width: 1340px;
    max-height: 900px;
    min-width: 1000px;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-flow: row;
	grid-template-areas:
	  "poster info1 info1"
	  "poster info3 info3"
	  "title info2 info2";
  }
  
  .poster { grid-area: poster;}

  .posterContainer {
	  margin-top: 20px;
	  }

  .poster {
	  margin-top: 10px;
	  margin-bottom: 10px;
	  max-width: 90%;
	  max-height: 80%;
	  border-radius: 10px;
  }  

  .info1 {
	  margin-left: 20px;
	  text-align: left;
	  font-size: 20px;
	  color: white;
	  font-size: 25px;
  }

  .plot {
	font-size: 25px;
	margin-left: 20px;
	text-align: left;
	font-style: italic;
	color: white; 
  }

  .watchlistButton {
	text-align: center;
	background-color: black;
	color: white;
	width: 40%;
	height: 8vh;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 20px;
	overflow: hidden;
    cursor: pointer;
    transition: all ease 200ms;
  }

  .watchlistButton:hover {
	transform: scale(1.05);
	border: 2px solid grey;
  }
  
  .imdbRating {
	  font-size: 25px;
	  text-align: center;
	  color: white;
  }

  .movieTitle {
	  font-size: 50px;
  }
  